:root {
  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
}

body {
  width: 95dvw;
}

.card {
  display: grid;
  row-gap: var(--spacing-300);
  padding: var(--spacing-300);
}

.container-card-image {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.container-card-text {
  display: grid;
  row-gap: var(--spacing-300);
}

.container-art-text {
  display: grid;
  row-gap: var(--spacing-300);
}

.container-art-details {
  display: grid;
  row-gap: var(--spacing-200);
}

.container-art-status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.marked-text {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: var(--spacing-100);
}

.price {
  justify-content: start;
}

.duration {
  justify-content: end;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: slategray;
}

.container-artist-text {
  justify-content: start;

  img {
    height: 33px;
  }

  p {
    white-space: nowrap;
    flex-shrink: 0;
  }
}
