/* variables */

:root {
  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
}

/* Centering */

body {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Layout */

.card {
  display: grid;
  row-gap: var(--spacing-300);
  padding: var(--spacing-300);
  max-width: 350px;
}

.container-card-image {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.overlay-card-image {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.container-card-text {
  display: grid;
  row-gap: var(--spacing-300);
}

.container-art-text {
  display: grid;
  row-gap: var(--spacing-300);
}

.container-art-details {
  display: grid;
  row-gap: var(--spacing-200);
}

.container-art-status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.marked-text {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: var(--spacing-100);
}

.price {
  justify-content: start;
}

.duration {
  justify-content: end;
}

.container-artist-text {
  justify-content: start;

  img {
    height: 33px;
  }
}

@media (min-width: 336px) {
  body {
    padding-inline: var(--spacing-100);
  }
}
